.card-detail_img{  
    width: 580px;
    object-fit: cover;
  }
  
  .card-detail_img img{
    max-width: 500px;
  }
  
  .card-detail_main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin: 40px auto;  
    min-height: 600px;
    width: 980px;
    background-color: none;
    overflow: hidden;  
    transition: all 0.20s ease-in;
    font-family: 'Aboreto';
  }
  
  
  .card-detail_detail{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 12px 8px;
    width: 400px;
    font-size: 1.2em;
  }
  


  .idctitle{
    font-family: 'Aboreto';
    font-size:20px;
  }

  .priceTag{
    color:rgb(145, 102, 10);
  }

  .btnbtn{
    padding: 8px;
    color: white;
    font-size: 10px;
    max-width: 100px;
    max-height: 50px;
    background-color: rgb(49, 50, 49);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
    

  
    &:hover{
      box-shadow: 0px 4px 5px #d7d7db;
    }
  }

  .botoness{
    display: flex;
    flex-direction: row ;



  }