.nav-menu1 {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px; /* Add padding for spacing around the logo and links */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    top: 0;
    width: 100%;
    z-index: 10;
    height: 140px;
    margin: 0;
    background-color: rgb(241, 241, 241);
  }

  .nav-item1{
    text-decoration: none;
    font-weight: 200;
    font-size: 1em;
    color: rgb(40, 40, 40);
    margin-right: 10px; /* Add spacing between nav links */
    transition: color 0.3s ease; /* Add a smooth transition for the color change */
    font-weight: bolder;
    width: 10%;
  }

  .nav-link1{
    color: rgb(43, 43, 43);
  }

  .nav-link1:hover {
    color: rgb(19, 19, 17);
  }
  
  .nav-link1.active {
    color: rgb(156, 62, 18);
    font-weight: 600;
  }
  
  .logo1 {
    display: flex;
    align-items: center;
    padding-right: 20px; /* Adjust padding for spacing to the right */
  }
  
  .logo1 img {
    height: 120px; /* Adjust the height of the logo */
    margin-right: 600px; /* Add spacing between the logo and nav links */
    margin-left: 20px;
  }
  
  
  .cart-widget {
    display: flex;
    align-items: center;
    margin-right: 100px;
  }
  
  .cart-widget1 a {
    text-decoration: none;
    color: rgb(44, 44, 43);
    font-size: 1em;
    margin-right: 50px; /* Add spacing between cart and nav links */
    transition: color 0.3s ease; /* Add a smooth transition for the color change */
  }
  
  .cart-widget a:hover {
    color: rgb(19, 19, 17);
  }
  
  .CartImg1{
    height: 30px; /* Adjust the height of the logo */
  }